.calc-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    position: relative;
    .stake {
        margin-top: 20px;
        padding: 20px;
        @media only screen and (max-width: 768px) {
            background: linear-gradient(180deg, #b6b6b6 0%, #fff 19%);
        }
    }
    .odds-output {
        background: linear-gradient(180deg, #23013b 0%, #0d2167 19%);
        color: white;
        padding: 20px;
        margin-top: 10px;
    }
    .form-input {
        width: 100%;
        float: left;
        background: #fff;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 7px 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 14px;
        color: #000;
        height: 35px;
    }
    #submit_arbitrage {
        background: #243983;
        flex: 2;
        height: 3rem;
        color: #fff;
        font-family: Open Sans;
        font-size: 1.4rem;
        font-weight: 700;
        border-radius: 0.4rem;
        border: none;
        outline-color: #3699ff;
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .input-text {
        margin: 10px;
        width: 100%;
        float: left;
        color: #fff;
        background: #989aa2;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 7px 10px;
        border: 1px solid #0d2167;
        font-size: 14px;
        text-align: right;
        height: 35px;
        font-weight: 500;
    }
    .stake-row h5,
    .payout-row h5 {
        display: none;
    }
    .btn-odds {
        display: flex;
        min-width: 100%;
        justify-content: space-around;
        margin: 40px 0px;
        align-content: center;
        align-items: center;
    }
    #reset {
        background: #7a5f5f;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 3rem;
        color: #fff;
        font-family: Open Sans;
        font-size: 1.4rem;
        font-weight: 700;
        border-radius: 0.4rem;
        border: none;
        margin-top: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
}