.calc-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  background-color: #fff;
  z-index: 2;
  width: 100%;
  position: relative;
  font-family: saira semi condensed, sans-serif;
  font-weight: 700;
  list-style: none;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.calc-section .btn {
  font-weight: 700;
  list-style: none;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.calc-section .stake {
  margin-top: 20px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .calc-section .stake {
    background: -webkit-gradient(linear, left top, left bottom, from(#b6b6b6), color-stop(19%, #fff));
    background: linear-gradient(180deg, #b6b6b6 0%, #fff 19%);
  }
}

.calc-section .odds-output {
  background: -webkit-gradient(linear, left top, left bottom, from(#23013b), color-stop(19%, #0d2167));
  background: linear-gradient(180deg, #23013b 0%, #0d2167 19%);
  color: white;
  padding: 20px;
  margin-top: 10px;
}

.calc-section .form-input {
  width: 100%;
  float: left;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #000;
  height: 35px;
}

.calc-section #submit_arbitrage {
  background: #243983;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 3rem;
  color: #fff;
  border-radius: 0.4rem;
  border: none;
  outline-color: #3699ff;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calc-section .input-text {
  margin: 10px;
  width: 100%;
  float: left;
  color: #fff;
  background: #989aa2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 7px 10px;
  border: 1px solid #0d2167;
  font-size: 14px;
  text-align: right;
  height: 35px;
  font-weight: 500;
}

.calc-section .stake-row h5,
.calc-section .payout-row h5 {
  display: none;
}

.calc-section .btn-odds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-section #reset {
  background: #7a5f5f;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 3rem;
  color: #fff;
  border-radius: 0.4rem;
  border: none;
  margin-top: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.calc-section label {
  margin-bottom: 0px;
  margin: 0.5rem;
}
/*# sourceMappingURL=arbitrage.css.map */